.topnav {
    overflow: hidden;
    background-color: #ffffff;
    height: 80px;
    border-bottom: #fbfbfb;
  }
  
  .topnav a {

    float: left;
    display: block;
    color: rgb(19, 19, 19);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    padding-top: 20px;
  }

  form{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .topnav a:hover {
    background-color: #fbfbfb;
    height: 100%;
    color: black;
  }
  
  .topnav a.active {
    background-color: #fbfbfb;
    height: 100%;
    color: rgb(10, 10, 10);
  }

  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=search] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none; 
    outline: none;
    background-color: whitesmoke;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: white;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ffffffed;
  }

  .topnav .search-container button{
    background-color: whitesmoke;
    float: left;
    width: 20%;
    padding: 10px;
    color: rgb(10, 10, 10);
  font-size: 17px;

  }
  
